@media only screen and (min-width:688px) and (max-width:992px) {
    .header{
        align-items:center ;
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .banner img{
        width: 100%;
        padding-left: 0;
    }
    .banner{
        margin-top: 50px;


    }
    .blogs{
        grid-template-columns: repeat(2,1fr);
    }

  
   
    .extra{
        flex-wrap: wrap;
        grid-row-gap: 50px;
        justify-content: center;

    }



    
}